<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game.css" />
    <title>Field Numbers</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <div class="warning">
        <div class="outcome"></div>
        <div class="reward block">0</div>
        <div class="again button block">ok</div>
      </div>

      <a href="./main.html" class="home block">
        <img src="../png/home.png" alt="home" />
      </a>

      <div class="balance_field block"></div>

      <div class="outer_wheel">
        <div class="wheel"></div>
      </div>

      <div class="control">
        <div class="control_title">field<br />numbers</div>
        <div class="option_cont"></div>
        <div class="left_cont">
          <span class="left">25</span><br /><span class="text">left</span>
        </div>
      </div>

      <div class="green"></div>

      <img src="../png/spot.png" alt="spot" class="spot_left" />

      <div class="ticket_cont">
        <div class="flag_cont"></div>
        <div class="ticket"></div>
      </div>

      <div class="lucky">Lucky Numbers</div>
      <img src="../png/spot.png" alt="spot" class="spot_right" />
    </div>
    <script src="../scripts/game.js" type="module"></script>
  </body>
</html>
