<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="../png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/main.css" />
    <title>Field Numbers</title>
  </head>
  <body>
    <div class="wrapper">
      <img src="../png/back_tr.png" alt="back" class="back tr" />
      <img src="../png/back_bl.png" alt="back" class="back bl" />
      <img src="../png/back_br.png" alt="back" class="back br" />

      <img src="../png/ball_1.png" alt="ball" class="ball one" />
      <img src="../png/ball_2.png" alt="ball" class="ball two" />
      <img src="../png/ball_3.png" alt="ball" class="ball three" />
      <img src="../png/ball_4.png" alt="ball" class="ball four" />

      <div class="balance_field block"></div>
      <div class="header">field<br />numbers</div>
      <a href="./game.html" class="button block">play game</a>
    </div>
    <script src="../scripts/main.js" type="module"></script>
  </body>
</html>
