@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-V.ttf");
}

html {
  font-size: 24px;
}

body {
  background: radial-gradient(60.5% 100% at 50% 0%, #961b61 0%, #5f103e 100%);

  height: 100vh;
  min-height: 360px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  color: #fff;
  text-align: center;

  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
  color: #fff;
}

.hidden {
  opacity: 0;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  text-transform: uppercase;
  font-weight: 800;

  background-image: url("../png/button.png");
  background-size: 100% 100%;
  background-position: center;
}

.back {
  position: absolute;
  z-index: -1;
  max-width: 40%;
  max-height: 40%;
}

.tr {
  top: 0;
  right: 0;
}

.bl {
  bottom: 0;
  left: 0;
}

.br {
  bottom: 0;
  right: 0;
}

.header {
  font-weight: 900;
  letter-spacing: 0.045em;
  text-transform: uppercase;

  background: darkorange;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  text-shadow: 1px 0px 0px #ffc439, 0px 4px 4px rgba(250, 255, 0, 0.18),
    0px 6px 3px rgba(0, 0, 0, 0.5);
}

.balance_field {
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 3;

  width: 150px;
  height: 50px;

  border: white 2px solid;
  border-radius: 50px;
  box-sizing: border-box;

  background: radial-gradient(
    44.87% 44.87% at 50% 55.13%,
    #585859 0%,
    #1f2024 100%
  );
}

.balance_field img {
  max-height: 60%;
  margin-right: 3%;
}

.balance {
  font-size: 18px;
  font-weight: 800;
  margin-left: 3%;
}
